<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, iniptial-scale=1.0">
    <title>Preference Selection</title>
</head>
<h1>
    Room Preference Selection
</h1>
<link rel="stylesheet" href="stylesheets/dorm-layouts.css">
<body>
    <div class="selection-bar">
        <div>
            <div>
                Preference Selection
            </div>
            <select name="preference" id="pref-select" class="selection-bar-item">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <fieldset id="dorm-select">
            <legend>Dorms</legend>
            <div>
                <input type="checkbox" id="dorms-all" name="all" checked>
                <label for="all">All</label>
            </div>
            <div>
                <input type="checkbox" id="West" name="West">
                <label for="West">West</label>
            </div>
            <div>
                <input type="checkbox" id="South" name="South">
                <label for="South">South</label>
            </div>
            <div>
                <input type="checkbox" id="East" name="East">
                <label for="East">East</label>
            </div>
            <div>
                <input type="checkbox" id="North" name="North">
                <label for="North">North</label>
            </div>
            <div>
                <input type="checkbox" id="Atwood" name="Atwood">
                <label for="Atwood">Atwood</label>
            </div>
            <div>
                <input type="checkbox" id="Sontag" name="Sontag">
                <label for="Sontag">Sontag</label>
            </div>
            <div>
                <input type="checkbox" id="Case" name="Case">
                <label for="Case">Case</label>
            </div>
            <div>
                <input type="checkbox" id="Drinkward" name="Drinkward">
                <label for="Drinkward">Drinkward</label>
            </div>
            <div>
                <input type="checkbox" id="Linde" name="Linde">
                <label for="Linde">Linde</label>
            </div>
        </fieldset>
        <fieldset id="floor-select">
            <legend>Floors</legend>
            <div>
                <input type="checkbox" id="floors-all" name="all" checked>
                <label for="all">All</label>
            </div>
            <div>
                <input type="checkbox" id="First" name="First">
                <label for="First">First</label>
            </div>
            <div>
                <input type="checkbox" id="Second" name="Second">
                <label for="Second">Second</label>
            </div>
            <div>
                <input type="checkbox" id="Third" name="Third">
                <label for="Third">Third</label>
            </div>
        </fieldset>
    </div>

    <div>
        <svg class="west first" version="1.1" id="svg2087" width="804.12415" height="813.34802"
            viewBox="0 0 804.12414 813.34802" sodipodi:docname="west1.png" inkscape:export-filename="west.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs2091" />
            <sodipodi:namedview id="namedview2089" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid2715" originx="-60.997757" originy="-96.769577" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g2093"
                transform="translate(-60.997757,-96.769577)">
                <rect id="rect6720" width="122.17296" height="92.163841" x="-188.17072" y="812.01324" inkscape:label="2"
                    transform="scale(-1,1)" />
                <rect id="rect6720-1" width="122.17296" height="92.163841" x="65.997757" y="719.84943"
                    inkscape:label="4" />
                <rect id="rect6720-1-1" width="122.17296" height="92.163841" x="65.997757" y="627.68561"
                    inkscape:label="6" />
                <rect id="rect6720-9" width="122.17296" height="92.163841" x="65.997757" y="535.52173"
                    inkscape:label="8" />
                <rect id="rect6720-1-7" width="122.17296" height="92.163841" x="65.997757" y="443.35791"
                    inkscape:label="10" />
                <rect id="rect6720-1-1-7" width="122.17296" height="92.163841" x="65.997757" y="351.19406"
                    inkscape:label="12" />
                <rect id="rect6720-9-6" width="122.17296" height="92.163841" x="65.997757" y="259.03021"
                    inkscape:label="14" />
                <rect id="rect6720-1-7-7" width="122.17296" height="92.163841" x="65.997757" y="166.86636"
                    inkscape:label="16" />
                <rect id="rect6720-6" width="122.17296" height="92.163841" x="737.94897" y="812.95374"
                    inkscape:label="1" />
                <rect id="rect6720-1-5" width="122.17296" height="92.163841" x="737.94897" y="720.78986"
                    inkscape:label="3" />
                <rect id="rect6720-1-1-6" width="122.17296" height="92.163841" x="737.94897" y="628.62604"
                    inkscape:label="5" />
                <rect id="rect6720-9-3" width="122.17296" height="92.163841" x="737.94897" y="536.46216"
                    inkscape:label="7" />
                <rect id="rect6720-1-7-9" width="122.17296" height="92.163841" x="737.94897" y="444.29834"
                    inkscape:label="9" />
                <rect id="rect6720-1-1-7-4" width="122.17296" height="92.163841" x="737.94897" y="352.13449"
                    inkscape:label="11" />
                <rect id="rect6720-9-6-8" width="122.17296" height="92.163841" x="737.94897" y="259.97064"
                    inkscape:label="13" />
                <rect id="rect6720-1-7-7-1" width="122.17296" height="92.163841" x="737.94897" y="167.80681"
                    inkscape:label="15" />
                <rect id="rect6854" width="62.026268" height="83.699814" x="225.76239" y="101.97549"
                    inkscape:label="20" />
                <rect id="rect6856" width="63.905853" height="84.846191" x="322.56094" y="101.76958"
                    inkscape:label="24" />
                <rect id="rect6856-2" width="63.905853" height="84.846191" x="386.4668" y="101.76958"
                    inkscape:label="28" />
                <rect id="rect6856-2-9-3" width="65.484314" height="119.48118" x="320.25784" y="228.25941"
                    inkscape:label="26" />
                <rect id="rect6856-2-9-3-2" width="62.999989" height="120" x="226" y="228" inkscape:label="22" />
                <rect id="rect6854-9" width="62.026268" height="83.699814" x="-706.93585" y="102.18142"
                    transform="scale(-1,1)" inkscape:label="19" />
                <rect id="rect6856-0" width="63.905853" height="84.846191" x="-610.13727" y="101.97549"
                    transform="scale(-1,1)" inkscape:label="23" />
                <rect id="rect6856-2-8" width="63.905853" height="84.846191" x="-546.23145" y="101.97549"
                    transform="scale(-1,1)" inkscape:label="27" />
                <rect id="rect6856-2-9-8" width="62.095394" height="90.108467" x="-699.09064" y="257.91074"
                    transform="scale(-1,1)" inkscape:label="21" />
                <rect id="rect6856-2-9-3-5" width="68.341187" height="89.516022" x="-609.07324" y="257.99786"
                    transform="scale(-1,1)" inkscape:label="25" />
            </g>
        </svg>
        <svg class="west second" version="1.1" id="svg2087" width="804.12415" height="813.34802"
            viewBox="0 0 804.12414 813.34802" sodipodi:docname="west1.png" inkscape:export-filename="west.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs2091" />
            <sodipodi:namedview id="namedview2089" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid2715" originx="-60.997757" originy="-96.769577" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g2093"
                transform="translate(-60.997757,-96.769577)">
                <rect id="rect6720" width="122.17296" height="92.163841" x="-188.17072" y="812.01324" inkscape:label="2"
                    transform="scale(-1,1)" />
                <rect id="rect6720-1" width="122.17296" height="92.163841" x="65.997757" y="719.84943"
                    inkscape:label="4" />
                <rect id="rect6720-1-1" width="122.17296" height="92.163841" x="65.997757" y="627.68561"
                    inkscape:label="6" />
                <rect id="rect6720-9" width="122.17296" height="92.163841" x="65.997757" y="535.52173"
                    inkscape:label="8" />
                <rect id="rect6720-1-7" width="122.17296" height="92.163841" x="65.997757" y="443.35791"
                    inkscape:label="10" />
                <rect id="rect6720-1-1-7" width="122.17296" height="92.163841" x="65.997757" y="351.19406"
                    inkscape:label="12" />
                <rect id="rect6720-9-6" width="122.17296" height="92.163841" x="65.997757" y="259.03021"
                    inkscape:label="14" />
                <rect id="rect6720-1-7-7" width="122.17296" height="92.163841" x="65.997757" y="166.86636"
                    inkscape:label="16" />
                <rect id="rect6720-6" width="122.17296" height="92.163841" x="737.94897" y="812.95374"
                    inkscape:label="1" />
                <rect id="rect6720-1-5" width="122.17296" height="92.163841" x="737.94897" y="720.78986"
                    inkscape:label="3" />
                <rect id="rect6720-1-1-6" width="122.17296" height="92.163841" x="737.94897" y="628.62604"
                    inkscape:label="5" />
                <rect id="rect6720-9-3" width="122.17296" height="92.163841" x="737.94897" y="536.46216"
                    inkscape:label="7" />
                <rect id="rect6720-1-7-9" width="122.17296" height="92.163841" x="737.94897" y="444.29834"
                    inkscape:label="9" />
                <rect id="rect6720-1-1-7-4" width="122.17296" height="92.163841" x="737.94897" y="352.13449"
                    inkscape:label="11" />
                <rect id="rect6720-9-6-8" width="122.17296" height="92.163841" x="737.94897" y="259.97064"
                    inkscape:label="13" />
                <rect id="rect6720-1-7-7-1" width="122.17296" height="92.163841" x="737.94897" y="167.80681"
                    inkscape:label="15" />
                <rect id="rect6854" width="62.026268" height="83.699814" x="225.76239" y="101.97549"
                    inkscape:label="20" />
                <rect id="rect6856" width="63.905853" height="84.846191" x="322.56094" y="101.76958"
                    inkscape:label="24" />
                <rect id="rect6856-2" width="63.905853" height="84.846191" x="386.4668" y="101.76958"
                    inkscape:label="28" />
                <rect id="rect6856-2-9-3" width="65.484314" height="119.48118" x="320.25784" y="228.25941"
                    inkscape:label="26" />
                <rect id="rect6856-2-9-3-2" width="62.999989" height="120" x="226" y="228" inkscape:label="22" />
                <rect id="rect6854-9" width="62.026268" height="83.699814" x="-706.93585" y="102.18142"
                    transform="scale(-1,1)" inkscape:label="19" />
                <rect id="rect6856-0" width="63.905853" height="84.846191" x="-610.13727" y="101.97549"
                    transform="scale(-1,1)" inkscape:label="23" />
                <rect id="rect6856-2-8" width="63.905853" height="84.846191" x="-546.23145" y="101.97549"
                    transform="scale(-1,1)" inkscape:label="27" />
                <rect id="rect6856-2-9-8" width="62.095394" height="90.108467" x="-699.09064" y="257.91074"
                    transform="scale(-1,1)" inkscape:label="21" />
                <rect id="rect6856-2-9-3-5" width="68.341187" height="89.516022" x="-609.07324" y="257.99786"
                    transform="scale(-1,1)" inkscape:label="25" />
            </g>
        </svg>
    </div>
    <div>
        <svg class="south first" version="1.1" id="svg4719" width="1082.0078" height="980.00012"
            viewBox="0 0 1082.0078 980.00012" sodipodi:docname="south1.png"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs4723" />
            <sodipodi:namedview id="namedview4721" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid5263" originx="-89.992201" originy="-86" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g4725" transform="translate(-44.996101,-43)">
                <rect id="rect4898" width="73.827843" height="101.82785" x="50.18943" y="324.18942"
                    inkscape:label="305b" />
                <rect id="rect4898-2" width="73.913925" height="104.99997" x="50" y="426" inkscape:label="305c" />
                <rect id="rect4898-2-8-9" width="108.88717" height="62.887169" x="124.02326" y="324.02325"
                    inkscape:label="305a" />
                <rect id="rect4898-7" width="73.76693" height="106.98693" x="50" y="530" inkscape:label="303a" />
                <rect id="rect4898-7-1" width="108.84987" height="66.849876" x="124.15403" y="674.99609"
                    inkscape:label="303c" />
                <rect id="rect4898-2-3" width="73.700317" height="104.78633" x="50.080597" y="636.99457"
                    inkscape:label="303b" />
                <rect id="rect4898-7-2" width="73.76693" height="106.98693" x="49.996109" y="112.15402"
                    inkscape:label="307b" />
                <rect id="rect4898-7-2-1" width="64" height="106.98693" x="48" y="-156.98694" transform="rotate(90)"
                    inkscape:label="307a" />
                <rect id="rect4898-7-1-9" width="108.84987" height="74.999992" x="124.15013" y="249"
                    inkscape:label="307d" />
                <rect id="rect4898-2-3-3" width="73.700317" height="104.78633" x="50.076706" y="219.14859"
                    inkscape:label="307c" />
                <rect id="rect4898-7-2-9" width="73.76693" height="106.98693" x="49.996101" y="-953.84595"
                    transform="scale(1,-1)" inkscape:label="301c" />
                <rect id="rect4898-7-2-1-4" width="64" height="106.98693" x="-1018" y="-156.98692"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="301d" />
                <rect id="rect4898-7-1-9-7" width="108.84987" height="74.999992" x="124.15013" y="-817"
                    transform="scale(1,-1)" inkscape:label="301a" />
                <rect id="rect4898-2-3-3-8" width="73.700317" height="104.78633" x="50.076706" y="-846.85144"
                    transform="scale(1,-1)" inkscape:label="301b" />
                <rect id="rect4898-5" width="73.827843" height="101.82785" x="-1121.8107" y="324.18945"
                    transform="scale(-1,1)" inkscape:label="306b" />
                <rect id="rect4898-2-0" width="73.913925" height="104.99997" x="-1122" y="426" transform="scale(-1,1)"
                    inkscape:label="306c" />
                <rect id="rect4898-2-8-9-3" width="108.88717" height="62.887169" x="-1047.9768" y="324.02325"
                    transform="scale(-1,1)" inkscape:label="306a" />
                <rect id="rect4898-7-6" width="73.76693" height="106.98693" x="-1122" y="530" transform="scale(-1,1)"
                    inkscape:label="304a" />
                <rect id="rect4898-7-1-1" width="108.84987" height="66.849876" x="-1047.8461" y="674.99609"
                    transform="scale(-1,1)" inkscape:label="304c" />
                <rect id="rect4898-2-3-0" width="73.700317" height="104.78633" x="-1121.9194" y="636.99457"
                    transform="scale(-1,1)" inkscape:label="304b" />
                <rect id="rect4898-7-2-6" width="73.76693" height="106.98693" x="-1122.0039" y="112.15402"
                    transform="scale(-1,1)" inkscape:label="308b" />
                <rect id="rect4898-7-2-1-3" width="64" height="106.98693" x="48" y="1015.0131"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="308a" />
                <rect id="rect4898-7-1-9-2" width="108.84987" height="74.999992" x="-1047.8499" y="249"
                    transform="scale(-1,1)" inkscape:label="308d" />
                <rect id="rect4898-2-3-3-0" width="73.700317" height="104.78633" x="-1121.9233" y="219.14859"
                    transform="scale(-1,1)" inkscape:label="308c" />
                <rect id="rect4898-7-2-9-6" width="73.76693" height="106.98693" x="-1122.0039" y="-953.84595"
                    transform="scale(-1)" inkscape:label="302c" />
                <rect id="rect4898-7-2-1-4-1" width="64" height="106.98693" x="-1018.0001" y="1015.0131"
                    transform="rotate(-90)" inkscape:label="302d" />
                <rect id="rect4898-7-1-9-7-5" width="108.84987" height="74.999992" x="-1047.8499" y="-817"
                    transform="scale(-1)" inkscape:label="302a" />
                <rect id="rect4898-2-3-3-8-5" width="73.700317" height="104.78633" x="-1121.9233" y="-846.85144"
                    transform="scale(-1)" inkscape:label="302b" />
                <rect id="rect5638" width="103" height="101" x="349" y="122" inkscape:label="309" />
                <rect id="rect5638-6" width="103" height="101" x="717" y="122" inkscape:label="310" />
                <rect id="rect5638-4" width="91.280907" height="101.22367" x="491.88815" y="121.88817"
                    inkscape:label="311" />
                <rect id="rect5638-4-7" width="91.280907" height="101.22367" x="583" y="122" inkscape:label="312" />
            </g>
        </svg>
        <svg class="south second" version="1.1" id="svg5997" width="1082.0078" height="980.23401"
            viewBox="0 0 1082.0078 980.23401" sodipodi:docname="south2.png" inkscape:export-filename="south2.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs6001" />
            <sodipodi:namedview id="namedview5999" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid6947" originx="-46.478458" originy="-72" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g6003" transform="translate(-46.478458,-72)">
                <rect id="rect4898" width="73.827843" height="101.82785" x="51.671787" y="353.42334"
                    inkscape:label="355b" />
                <rect id="rect4898-2" width="73.913925" height="104.99997" x="51.482357" y="455.23395"
                    inkscape:label="355c" />
                <rect id="rect4898-2-8-9" width="108.88717" height="62.887169" x="125.50564" y="353.25717"
                    inkscape:label="355a" />
                <rect id="rect4898-7" width="73.76693" height="106.98693" x="51.482357" y="559.23395"
                    inkscape:label="353a" />
                <rect id="rect4898-7-1" width="108.84987" height="66.849876" x="125.6364" y="704.23004"
                    inkscape:label="353c" />
                <rect id="rect4898-2-3" width="73.700317" height="104.78633" x="51.562954" y="666.22852"
                    inkscape:label="353b" />
                <rect id="rect4898-7-2" width="73.76693" height="106.98693" x="51.478474" y="141.38795"
                    inkscape:label="357b" />
                <rect id="rect4898-7-2-1" width="64" height="106.98693" x="77" y="-158.98694" transform="rotate(90)"
                    inkscape:label="357a" />
                <rect id="rect4898-7-1-9" width="108.84987" height="74.999992" x="125.63249" y="278.23392"
                    inkscape:label="357d" />
                <rect id="rect4898-2-3-3" width="73.700317" height="104.78633" x="51.559063" y="248.38251"
                    inkscape:label="357c" />
                <rect id="rect4898-7-2-9" width="73.76693" height="106.98693" x="51.478458" y="-983.0799"
                    transform="scale(1,-1)" inkscape:label="351c" />
                <rect id="rect4898-7-2-1-4" width="64" height="106.98693" x="-1047.2339" y="-158.46928"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="351d" />
                <rect id="rect4898-7-1-9-7" width="108.84987" height="74.999992" x="125.63249" y="-846.23395"
                    transform="scale(1,-1)" inkscape:label="351a" />
                <rect id="rect4898-2-3-3-8" width="73.700317" height="104.78633" x="51.559063" y="-876.08539"
                    transform="scale(1,-1)" inkscape:label="351b" />
                <rect id="rect4898-5" width="73.827843" height="101.82785" x="-1123.2931" y="353.42337"
                    transform="scale(-1,1)" inkscape:label="356b" />
                <rect id="rect4898-2-0" width="73.913925" height="104.99997" x="-1123.4824" y="455.23395"
                    transform="scale(-1,1)" inkscape:label="356c" />
                <rect id="rect4898-2-8-9-3" width="108.88717" height="62.887169" x="-1049.4592" y="353.25717"
                    transform="scale(-1,1)" inkscape:label="356a" />
                <rect id="rect4898-7-6" width="73.76693" height="106.98693" x="-1123.4824" y="559.23395"
                    transform="scale(-1,1)" inkscape:label="354a" />
                <rect id="rect4898-7-1-1" width="108.84987" height="66.849876" x="-1049.3285" y="704.23004"
                    transform="scale(-1,1)" inkscape:label="354c" />
                <rect id="rect4898-2-3-0" width="73.700317" height="104.78633" x="-1123.4019" y="666.22852"
                    transform="scale(-1,1)" inkscape:label="354b" />
                <rect id="rect4898-7-2-6" width="73.76693" height="106.98693" x="-1123.4863" y="141.38795"
                    transform="scale(-1,1)" inkscape:label="358b" />
                <rect id="rect4898-7-2-1-3" width="64" height="106.98693" x="77.233932" y="1016.4955"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="358a" />
                <rect id="rect4898-7-1-9-2" width="108.84987" height="74.999992" x="-1049.3323" y="278.23392"
                    transform="scale(-1,1)" inkscape:label="358d" />
                <rect id="rect4898-2-3-3-0" width="73.700317" height="104.78633" x="-1123.4058" y="248.38251"
                    transform="scale(-1,1)" inkscape:label="358c" />
                <rect id="rect4898-7-2-9-6" width="73.76693" height="106.98693" x="-1123.4862" y="-983.0799"
                    transform="scale(-1)" inkscape:label="352c" />
                <rect id="rect4898-7-2-1-4-1" width="64" height="106.98693" x="-1047.234" y="1016.4955"
                    transform="rotate(-90)" inkscape:label="352d" />
                <rect id="rect4898-7-1-9-7-5" width="108.84987" height="74.999992" x="-1049.3322" y="-846.23395"
                    transform="scale(-1)" inkscape:label="352a" />
                <rect id="rect4898-2-3-3-8-5" width="73.700317" height="104.78633" x="-1123.4056" y="-876.08539"
                    transform="scale(-1)" inkscape:label="352b" />
                <rect id="rect5638" width="103" height="101" x="350.48236" y="151.23393" inkscape:label="360" />
                <rect id="rect5638-5" width="118.97209" height="170.97209" x="351.01395" y="299.01395"
                    inkscape:label="359" />
                <rect id="rect5638-5-9" width="118.97209" height="170.97209" x="470" y="299.02789"
                    inkscape:label="361" />
                <rect id="rect5638-5-3" width="118.97209" height="170.97209" x="588" y="299.02792"
                    inkscape:label="363" />
                <rect id="rect5638-5-9-7" width="118.97209" height="170.97209" x="706.98602" y="299.04187"
                    inkscape:label="365" />
                <rect id="rect5638-6" width="103" height="101" x="718.48236" y="151.23393" inkscape:label="366" />
                <rect id="rect5638-4" width="91.280907" height="101.22367" x="493.37054" y="151.1221"
                    inkscape:label="362" />
                <rect id="rect5638-4-7" width="91.280907" height="101.22367" x="584.48236" y="151.23393"
                    inkscape:label="364" />
            </g>
        </svg>
    </div>
    <div>
        <svg class="east first" version="1.1" id="svg6230" width="855" height="864.21899" viewBox="0 0 855 864.21899"
            sodipodi:docname="east.svg" inkscape:version="1.2.2 (b0a8486541, 2022-12-01)"
            inkscape:export-filename="east1.svg" inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview id="namedview7896" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="false" inkscape:zoom="0.39774244" inkscape:cx="546.83629"
                inkscape:cy="665.00322" inkscape:window-width="1496" inkscape:window-height="976" inkscape:window-x="0"
                inkscape:window-y="19" inkscape:window-maximized="1" inkscape:current-layer="svg6230" />
            <defs id="defs6234" />
            <g id="g6236" transform="translate(-102,-76.781036)">
                <rect id="rect6720" width="130" height="98" x="107" y="837" inkscape:label="2" />
                <rect id="rect6720-1" width="130" height="98" x="107" y="739" inkscape:label="4" />
                <rect id="rect6720-1-1" width="130" height="98" x="107" y="641" inkscape:label="6" />
                <rect id="rect6720-9" width="130" height="98" x="107" y="543" inkscape:label="8" />
                <rect id="rect6720-1-7" width="130" height="98" x="107" y="445" inkscape:label="10" />
                <rect id="rect6720-1-1-7" width="130" height="98" x="107" y="347" inkscape:label="12" />
                <rect id="rect6720-9-6" width="130" height="98" x="107" y="249" inkscape:label="14" />
                <rect id="rect6720-1-7-7" width="130" height="98" x="107" y="151" inkscape:label="16" />
                <rect id="rect6720-6" width="130" height="98" x="822" y="838" inkscape:label="1" />
                <rect id="rect6720-1-5" width="130" height="98" x="822" y="740" inkscape:label="3" />
                <rect id="rect6720-1-1-6" width="130" height="98" x="822" y="642" inkscape:label="5" />
                <rect id="rect6720-9-3" width="130" height="98" x="822" y="544" inkscape:label="7" />
                <rect id="rect6720-1-7-9" width="130" height="98" x="822" y="446" inkscape:label="9" />
                <rect id="rect6720-1-1-7-4" width="130" height="98" x="822" y="348" inkscape:label="11" />
                <rect id="rect6720-9-6-8" width="130" height="98" x="822" y="250" inkscape:label="13" />
                <rect id="rect6720-1-7-7-1" width="130" height="98" x="822" y="152" inkscape:label="15" />
                <rect id="rect6854" width="66" height="89" x="277" y="82" inkscape:label="20" />
                <rect id="rect6856" width="68" height="90.218964" x="380" y="81.781036" inkscape:label="24" />
                <rect id="rect6856-2" width="68" height="90.218964" x="448" y="81.781036" inkscape:label="28" />
                <rect id="rect6856-2-9" width="64.968048" height="95.968048" x="279.01572" y="247.01572"
                    inkscape:label="22" />
                <rect id="rect6856-2-9-3" width="64.968048" height="95.968048" x="381" y="247.03195"
                    inkscape:label="26" />
                <rect id="rect6854-9" width="66" height="89" x="-789" y="82.218964" transform="scale(-1,1)"
                    inkscape:label="19" />
                <rect id="rect6856-0" width="68" height="90.218964" x="-686" y="82" transform="scale(-1,1)"
                    inkscape:label="23" />
                <rect id="rect6856-2-8" width="68" height="90.218964" x="-618" y="82" transform="scale(-1,1)"
                    inkscape:label="27" />
                <rect id="rect6856-2-9-8" width="71.984283" height="128.20273" x="-786.98425" y="215"
                    transform="scale(-1,1)" inkscape:label="21" />
                <rect id="rect6856-2-9-3-5" width="72.067696" height="127.76093" x="-684.54193" y="215"
                    transform="scale(-1,1)" inkscape:label="25" />
            </g>
        </svg>
        <svg class="east second" version="1.1" id="svg6230" width="855" height="864.21899" viewBox="0 0 855 864.21899"
            sodipodi:docname="east.svg" inkscape:version="1.2.2 (b0a8486541, 2022-12-01)"
            inkscape:export-filename="east1.svg" inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview id="namedview7896" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="false" inkscape:zoom="0.39774244" inkscape:cx="546.83629"
                inkscape:cy="665.00322" inkscape:window-width="1496" inkscape:window-height="976" inkscape:window-x="0"
                inkscape:window-y="19" inkscape:window-maximized="1" inkscape:current-layer="svg6230" />
            <defs id="defs6234" />
            <g id="g6236" transform="translate(-102,-76.781036)">
                <rect id="rect6720" width="130" height="98" x="107" y="837" inkscape:label="2" />
                <rect id="rect6720-1" width="130" height="98" x="107" y="739" inkscape:label="4" />
                <rect id="rect6720-1-1" width="130" height="98" x="107" y="641" inkscape:label="6" />
                <rect id="rect6720-9" width="130" height="98" x="107" y="543" inkscape:label="8" />
                <rect id="rect6720-1-7" width="130" height="98" x="107" y="445" inkscape:label="10" />
                <rect id="rect6720-1-1-7" width="130" height="98" x="107" y="347" inkscape:label="12" />
                <rect id="rect6720-9-6" width="130" height="98" x="107" y="249" inkscape:label="14" />
                <rect id="rect6720-1-7-7" width="130" height="98" x="107" y="151" inkscape:label="16" />
                <rect id="rect6720-6" width="130" height="98" x="822" y="838" inkscape:label="1" />
                <rect id="rect6720-1-5" width="130" height="98" x="822" y="740" inkscape:label="3" />
                <rect id="rect6720-1-1-6" width="130" height="98" x="822" y="642" inkscape:label="5" />
                <rect id="rect6720-9-3" width="130" height="98" x="822" y="544" inkscape:label="7" />
                <rect id="rect6720-1-7-9" width="130" height="98" x="822" y="446" inkscape:label="9" />
                <rect id="rect6720-1-1-7-4" width="130" height="98" x="822" y="348" inkscape:label="11" />
                <rect id="rect6720-9-6-8" width="130" height="98" x="822" y="250" inkscape:label="13" />
                <rect id="rect6720-1-7-7-1" width="130" height="98" x="822" y="152" inkscape:label="15" />
                <rect id="rect6854" width="66" height="89" x="277" y="82" inkscape:label="20" />
                <rect id="rect6856" width="68" height="90.218964" x="380" y="81.781036" inkscape:label="24" />
                <rect id="rect6856-2" width="68" height="90.218964" x="448" y="81.781036" inkscape:label="28" />
                <rect id="rect6856-2-9" width="64.968048" height="95.968048" x="279.01572" y="247.01572"
                    inkscape:label="22" />
                <rect id="rect6856-2-9-3" width="64.968048" height="95.968048" x="381" y="247.03195"
                    inkscape:label="26" />
                <rect id="rect6854-9" width="66" height="89" x="-789" y="82.218964" transform="scale(-1,1)"
                    inkscape:label="19" />
                <rect id="rect6856-0" width="68" height="90.218964" x="-686" y="82" transform="scale(-1,1)"
                    inkscape:label="23" />
                <rect id="rect6856-2-8" width="68" height="90.218964" x="-618" y="82" transform="scale(-1,1)"
                    inkscape:label="27" />
                <rect id="rect6856-2-9-8" width="71.984283" height="128.20273" x="-786.98425" y="215"
                    transform="scale(-1,1)" inkscape:label="21" />
                <rect id="rect6856-2-9-3-5" width="72.067696" height="127.76093" x="-684.54193" y="215"
                    transform="scale(-1,1)" inkscape:label="25" />
            </g>
        </svg>
    </div>
    <div>
        <svg class="north first" version="1.1" id="svg279" width="1014.8334" height="1027.4"
            viewBox="0 0 1014.8334 1027.4" sodipodi:docname="north.svg" inkscape:export-filename="north.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs283" />
            <sodipodi:namedview id="namedview281" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid1052" originx="-77.518944" originy="-90.917209" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g285" transform="translate(-77.518944,-90.917213)">
                <rect id="rect6720" width="154.58977" height="116.72089" x="82.518944" y="995.40527"
                    inkscape:label="1" />
                <rect id="rect6720-1" width="154.58977" height="116.72089" x="82.518944" y="878.68439"
                    inkscape:label="3" />
                <rect id="rect6720-1-1" width="154.58977" height="116.72089" x="82.518944" y="761.9635"
                    inkscape:label="5" />
                <rect id="rect6720-9" width="154.58977" height="116.72089" x="82.518944" y="645.24261"
                    inkscape:label="7" />
                <rect id="rect6720-1-7" width="154.58977" height="116.72089" x="82.518944" y="528.52173"
                    inkscape:label="9" />
                <rect id="rect6720-1-1-7" width="154.58977" height="116.72089" x="82.518944" y="411.80081"
                    inkscape:label="11" />
                <rect id="rect6720-9-6" width="154.58977" height="116.72089" x="82.518944" y="295.07993"
                    inkscape:label="13" />
                <rect id="rect6720-1-7-7" width="154.58977" height="116.72089" x="82.518944" y="178.35904"
                    inkscape:label="15" />
                <rect id="rect6720-6" width="154.58977" height="116.72089" x="932.76263" y="996.59631"
                    inkscape:label="2" />
                <rect id="rect6720-1-5" width="154.58977" height="116.72089" x="932.76263" y="879.87543"
                    inkscape:label="4" />
                <rect id="rect6720-1-1-6" width="154.58977" height="116.72089" x="932.76263" y="763.15454"
                    inkscape:label="6" />
                <rect id="rect6720-9-3" width="154.58977" height="116.72089" x="932.76263" y="646.43365"
                    inkscape:label="8" />
                <rect id="rect6720-1-7-9" width="154.58977" height="116.72089" x="932.76263" y="529.71277"
                    inkscape:label="10" />
                <rect id="rect6720-1-1-7-4" width="154.58977" height="116.72089" x="932.76263" y="412.99185"
                    inkscape:label="12" />
                <rect id="rect6720-9-6-8" width="154.58977" height="116.72089" x="932.76263" y="296.27097"
                    inkscape:label="14" />
                <rect id="rect6720-1-7-7-1" width="154.58977" height="116.72089" x="932.76263" y="179.55006"
                    inkscape:label="16" />
                <rect id="rect6854" width="78.484032" height="106.00163" x="284.67477" y="96.178001"
                    inkscape:label="19" />
                <rect id="rect6856" width="80.862335" height="107.45345" x="407.15744" y="95.917213"
                    inkscape:label="23" />
                <rect id="rect6856-2" width="80.862335" height="107.45345" x="488.01978" y="95.917213"
                    inkscape:label="27" />
                <rect id="rect6856-2-9-3" width="97.232887" height="150.9102" x="388.09067" y="254.09552"
                    inkscape:label="25" />
                <rect id="rect6856-2-9-3-3" width="97.232887" height="150.9102" x="290.76712" y="254"
                    inkscape:label="21" />
                <rect id="rect6854-9" width="78.484032" height="106.00163" x="-893.52063" y="96.438797"
                    transform="scale(-1,1)" inkscape:label="20" />
                <rect id="rect6856-0" width="80.862335" height="107.45345" x="-771.03796" y="96.178001"
                    transform="scale(-1,1)" inkscape:label="24" />
                <rect id="rect6856-2-8" width="80.862335" height="107.45345" x="-690.1756" y="96.178001"
                    transform="scale(-1,1)" inkscape:label="28" />
                <rect id="rect6856-2-9-8" width="85.600258" height="152.69324" x="-891.1236" y="254.58493"
                    transform="scale(-1,1)" inkscape:label="22" />
                <rect id="rect6856-2-9-3-5" width="85.699448" height="152.16704" x="-769.30408" y="254.58493"
                    transform="scale(-1,1)" inkscape:label="26" />
            </g>
        </svg>
        <svg class="north second" version="1.1" id="svg279" width="1014.8334" height="1027.4"
            viewBox="0 0 1014.8334 1027.4" sodipodi:docname="north.svg" inkscape:export-filename="north.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs283" />
            <sodipodi:namedview id="namedview281" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid1052" originx="-77.518944" originy="-90.917209" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g285" transform="translate(-77.518944,-90.917213)">
                <rect id="rect6720" width="154.58977" height="116.72089" x="82.518944" y="995.40527"
                    inkscape:label="1" />
                <rect id="rect6720-1" width="154.58977" height="116.72089" x="82.518944" y="878.68439"
                    inkscape:label="3" />
                <rect id="rect6720-1-1" width="154.58977" height="116.72089" x="82.518944" y="761.9635"
                    inkscape:label="5" />
                <rect id="rect6720-9" width="154.58977" height="116.72089" x="82.518944" y="645.24261"
                    inkscape:label="7" />
                <rect id="rect6720-1-7" width="154.58977" height="116.72089" x="82.518944" y="528.52173"
                    inkscape:label="9" />
                <rect id="rect6720-1-1-7" width="154.58977" height="116.72089" x="82.518944" y="411.80081"
                    inkscape:label="11" />
                <rect id="rect6720-9-6" width="154.58977" height="116.72089" x="82.518944" y="295.07993"
                    inkscape:label="13" />
                <rect id="rect6720-1-7-7" width="154.58977" height="116.72089" x="82.518944" y="178.35904"
                    inkscape:label="15" />
                <rect id="rect6720-6" width="154.58977" height="116.72089" x="932.76263" y="996.59631"
                    inkscape:label="2" />
                <rect id="rect6720-1-5" width="154.58977" height="116.72089" x="932.76263" y="879.87543"
                    inkscape:label="4" />
                <rect id="rect6720-1-1-6" width="154.58977" height="116.72089" x="932.76263" y="763.15454"
                    inkscape:label="6" />
                <rect id="rect6720-9-3" width="154.58977" height="116.72089" x="932.76263" y="646.43365"
                    inkscape:label="8" />
                <rect id="rect6720-1-7-9" width="154.58977" height="116.72089" x="932.76263" y="529.71277"
                    inkscape:label="10" />
                <rect id="rect6720-1-1-7-4" width="154.58977" height="116.72089" x="932.76263" y="412.99185"
                    inkscape:label="12" />
                <rect id="rect6720-9-6-8" width="154.58977" height="116.72089" x="932.76263" y="296.27097"
                    inkscape:label="14" />
                <rect id="rect6720-1-7-7-1" width="154.58977" height="116.72089" x="932.76263" y="179.55006"
                    inkscape:label="16" />
                <rect id="rect6854" width="78.484032" height="106.00163" x="284.67477" y="96.178001"
                    inkscape:label="19" />
                <rect id="rect6856" width="80.862335" height="107.45345" x="407.15744" y="95.917213"
                    inkscape:label="23" />
                <rect id="rect6856-2" width="80.862335" height="107.45345" x="488.01978" y="95.917213"
                    inkscape:label="27" />
                <rect id="rect6856-2-9-3" width="97.232887" height="150.9102" x="388.09067" y="254.09552"
                    inkscape:label="25" />
                <rect id="rect6856-2-9-3-3" width="97.232887" height="150.9102" x="290.76712" y="254"
                    inkscape:label="21" />
                <rect id="rect6854-9" width="78.484032" height="106.00163" x="-893.52063" y="96.438797"
                    transform="scale(-1,1)" inkscape:label="20" />
                <rect id="rect6856-0" width="80.862335" height="107.45345" x="-771.03796" y="96.178001"
                    transform="scale(-1,1)" inkscape:label="24" />
                <rect id="rect6856-2-8" width="80.862335" height="107.45345" x="-690.1756" y="96.178001"
                    transform="scale(-1,1)" inkscape:label="28" />
                <rect id="rect6856-2-9-8" width="85.600258" height="152.69324" x="-891.1236" y="254.58493"
                    transform="scale(-1,1)" inkscape:label="22" />
                <rect id="rect6856-2-9-3-5" width="85.699448" height="152.16704" x="-769.30408" y="254.58493"
                    transform="scale(-1,1)" inkscape:label="26" />
            </g>
        </svg>
    </div>
    <div>
        <svg class="atwood first" version="1.1" id="svg716" width="1206.5703" height="1210.5215"
            viewBox="0 0 1206.5703 1210.5215" sodipodi:docname="atwood.svg" inkscape:export-filename="atwood.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs720" />
            <sodipodi:namedview id="namedview718" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true" showguides="true">
                <inkscape:grid type="xygrid" id="grid830" originx="5.30859" originy="-51.691409" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g722" transform="translate(5.30859,-51.691406)">
                <path id="rect3364" d="m 136.7,57 v 138 h -137 v 93.90429 h 180.9043 v -51 h 50 V 57 Z"
                    inkscape:label="7" />
                <rect id="rect3364-1" width="93.903931" height="180.90392" x="230.95197" y="57.048054"
                    inkscape:label="9" />
                <rect id="rect3364-7" width="93.903931" height="180.90392" x="324.95197" y="57.048046"
                    inkscape:label="11" />
                <rect id="rect3364-1-0" width="86.690971" height="230.69623" x="419.26102" y="57.261005"
                    inkscape:label="13" />
                <path id="rect3364-79"
                    d="M 967.00002,56.691406 V 237.5957 h 48.35738 v 51.30859 h 180.9043 V 195 H 1060.9043 V 56.691406 Z"
                    inkscape:label="21" />
                <rect id="rect3364-1-2" width="93.903931" height="180.90392" x="-966.95209" y="56.73901"
                    transform="scale(-1,1)" inkscape:label="19" />
                <rect id="rect3364-7-0" width="93.903931" height="180.90392" x="-872.95209" y="56.738995"
                    transform="scale(-1,1)" inkscape:label="17" />
                <rect id="rect3364-1-0-2" width="86.690971" height="230.69623" x="-778.64301" y="56.951962"
                    transform="scale(-1,1)" inkscape:label="15" />
                <rect id="rect3364-1-7" width="93.903931" height="180.90392" x="288.95197" y="0.048069853"
                    inkscape:label="5" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-7-5" width="93.903931" height="180.90392" x="382.95197" y="0.048054595"
                    inkscape:label="3" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-1-0-9" width="86.690971" height="230.69623" x="477.26102" y="0.26102152"
                    inkscape:label="1" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-1-2-2" width="93.903931" height="180.90392" x="-1024.952" y="-0.26098165"
                    transform="rotate(-90)" inkscape:label="4" />
                <path id="rect3364-79-2"
                    d="m -0.30859,1025 v 93.9043 h 135.35742 v 138.3086 h 93.90234 V 1076.3086 H 180.5957 V 1025 Z"
                    inkscape:label="6" />
                <rect id="rect3364-7-0-8" width="93.903931" height="180.90392" x="-930.95203" y="-0.26099691"
                    transform="rotate(-90)" inkscape:label="2" />
                <rect id="rect3364-1-0-2-9" width="86.690971" height="230.69623" x="-836.64294" y="-0.04803"
                    transform="rotate(-90)" inkscape:label="0" />
                <path id="rect3364-2" d="m 1015.0488,1025 v 51 h -49.99997 v 180.9043 h 93.90237 v -138 h 137 V 1025 Z"
                    inkscape:label="20" />
                <rect id="rect3364-1-06" width="93.903931" height="180.90392" x="-965" y="-1256.8558"
                    inkscape:label="18" transform="scale(-1)" />
                <rect id="rect3364-7-1" width="93.903931" height="180.90392" x="-871" y="-1256.8558" inkscape:label="16"
                    transform="scale(-1)" />
                <rect id="rect3364-1-0-5" width="86.690971" height="230.69623" x="-776.69092" y="-1256.6429"
                    inkscape:label="14" transform="scale(-1)" />
                <rect id="rect3364-1-2-4" width="93.903931" height="180.90392" x="228.99986" y="-1257.1649"
                    transform="scale(1,-1)" inkscape:label="8" />
                <rect id="rect3364-7-0-7" width="93.903931" height="180.90392" x="322.99985" y="-1257.1649"
                    transform="scale(1,-1)" inkscape:label="10" />
                <rect id="rect3364-1-0-2-6" width="86.690971" height="230.69623" x="417.30893" y="-1256.9519"
                    transform="scale(1,-1)" inkscape:label="12" />
                <rect id="rect3364-1-7-9" width="93.903931" height="180.90392" x="-1024.9519" y="-1195.9038"
                    inkscape:label="22" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-7-5-3" width="93.903931" height="180.90392" x="-930.9519" y="-1195.9038"
                    inkscape:label="24" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-1-0-9-7" width="86.690971" height="230.69623" x="-836.64288" y="-1195.6908"
                    inkscape:label="26" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-1-2-2-5" width="93.903931" height="180.90392" x="288.95187" y="-1196.2129"
                    transform="rotate(90)" inkscape:label="23" />
                <rect id="rect3364-7-0-8-2" width="93.903931" height="180.90392" x="382.95187" y="-1196.2129"
                    transform="rotate(90)" inkscape:label="25" />
                <rect id="rect3364-1-0-2-9-5" width="86.690971" height="230.69623" x="477.26096" y="-1195.9999"
                    transform="rotate(90)" inkscape:label="27" />
            </g>
        </svg>
        <svg class="atwood second" version="1.1" id="svg716" width="1206.5703" height="1210.5215"
            viewBox="0 0 1206.5703 1210.5215" sodipodi:docname="atwood.svg" inkscape:export-filename="atwood.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs720" />
            <sodipodi:namedview id="namedview718" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true" showguides="true">
                <inkscape:grid type="xygrid" id="grid830" originx="5.30859" originy="-51.691409" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g722" transform="translate(5.30859,-51.691406)">
                <path id="rect3364" d="m 136.7,57 v 138 h -137 v 93.90429 h 180.9043 v -51 h 50 V 57 Z"
                    inkscape:label="7" />
                <rect id="rect3364-1" width="93.903931" height="180.90392" x="230.95197" y="57.048054"
                    inkscape:label="9" />
                <rect id="rect3364-7" width="93.903931" height="180.90392" x="324.95197" y="57.048046"
                    inkscape:label="11" />
                <rect id="rect3364-1-0" width="86.690971" height="230.69623" x="419.26102" y="57.261005"
                    inkscape:label="13" />
                <path id="rect3364-79"
                    d="M 967.00002,56.691406 V 237.5957 h 48.35738 v 51.30859 h 180.9043 V 195 H 1060.9043 V 56.691406 Z"
                    inkscape:label="21" />
                <rect id="rect3364-1-2" width="93.903931" height="180.90392" x="-966.95209" y="56.73901"
                    transform="scale(-1,1)" inkscape:label="19" />
                <rect id="rect3364-7-0" width="93.903931" height="180.90392" x="-872.95209" y="56.738995"
                    transform="scale(-1,1)" inkscape:label="17" />
                <rect id="rect3364-1-0-2" width="86.690971" height="230.69623" x="-778.64301" y="56.951962"
                    transform="scale(-1,1)" inkscape:label="15" />
                <rect id="rect3364-1-7" width="93.903931" height="180.90392" x="288.95197" y="0.048069853"
                    inkscape:label="5" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-7-5" width="93.903931" height="180.90392" x="382.95197" y="0.048054595"
                    inkscape:label="3" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-1-0-9" width="86.690971" height="230.69623" x="477.26102" y="0.26102152"
                    inkscape:label="1" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-1-2-2" width="93.903931" height="180.90392" x="-1024.952" y="-0.26098165"
                    transform="rotate(-90)" inkscape:label="4" />
                <path id="rect3364-79-2"
                    d="m -0.30859,1025 v 93.9043 h 135.35742 v 138.3086 h 93.90234 V 1076.3086 H 180.5957 V 1025 Z"
                    inkscape:label="6" />
                <rect id="rect3364-7-0-8" width="93.903931" height="180.90392" x="-930.95203" y="-0.26099691"
                    transform="rotate(-90)" inkscape:label="2" />
                <rect id="rect3364-1-0-2-9" width="86.690971" height="230.69623" x="-836.64294" y="-0.04803"
                    transform="rotate(-90)" inkscape:label="0" />
                <path id="rect3364-2" d="m 1015.0488,1025 v 51 h -49.99997 v 180.9043 h 93.90237 v -138 h 137 V 1025 Z"
                    inkscape:label="20" />
                <rect id="rect3364-1-06" width="93.903931" height="180.90392" x="-965" y="-1256.8558"
                    inkscape:label="18" transform="scale(-1)" />
                <rect id="rect3364-7-1" width="93.903931" height="180.90392" x="-871" y="-1256.8558" inkscape:label="16"
                    transform="scale(-1)" />
                <rect id="rect3364-1-0-5" width="86.690971" height="230.69623" x="-776.69092" y="-1256.6429"
                    inkscape:label="14" transform="scale(-1)" />
                <rect id="rect3364-1-2-4" width="93.903931" height="180.90392" x="228.99986" y="-1257.1649"
                    transform="scale(1,-1)" inkscape:label="8" />
                <rect id="rect3364-7-0-7" width="93.903931" height="180.90392" x="322.99985" y="-1257.1649"
                    transform="scale(1,-1)" inkscape:label="10" />
                <rect id="rect3364-1-0-2-6" width="86.690971" height="230.69623" x="417.30893" y="-1256.9519"
                    transform="scale(1,-1)" inkscape:label="12" />
                <rect id="rect3364-1-7-9" width="93.903931" height="180.90392" x="-1024.9519" y="-1195.9038"
                    inkscape:label="22" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-7-5-3" width="93.903931" height="180.90392" x="-930.9519" y="-1195.9038"
                    inkscape:label="24" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-1-0-9-7" width="86.690971" height="230.69623" x="-836.64288" y="-1195.6908"
                    inkscape:label="26" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-1-2-2-5" width="93.903931" height="180.90392" x="288.95187" y="-1196.2129"
                    transform="rotate(90)" inkscape:label="23" />
                <rect id="rect3364-7-0-8-2" width="93.903931" height="180.90392" x="382.95187" y="-1196.2129"
                    transform="rotate(90)" inkscape:label="25" />
                <rect id="rect3364-1-0-2-9-5" width="86.690971" height="230.69623" x="477.26096" y="-1195.9999"
                    transform="rotate(90)" inkscape:label="27" />
            </g>
        </svg>
        <svg class="atwood third" version="1.1" id="svg716" width="1206.5703" height="1210.5215"
            viewBox="0 0 1206.5703 1210.5215" sodipodi:docname="atwood.svg" inkscape:export-filename="atwood.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs720" />
            <sodipodi:namedview id="namedview718" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true" showguides="true">
                <inkscape:grid type="xygrid" id="grid830" originx="5.30859" originy="-51.691409" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g722" transform="translate(5.30859,-51.691406)">
                <path id="rect3364" d="m 136.7,57 v 138 h -137 v 93.90429 h 180.9043 v -51 h 50 V 57 Z"
                    inkscape:label="7" />
                <rect id="rect3364-1" width="93.903931" height="180.90392" x="230.95197" y="57.048054"
                    inkscape:label="9" />
                <rect id="rect3364-7" width="93.903931" height="180.90392" x="324.95197" y="57.048046"
                    inkscape:label="11" />
                <rect id="rect3364-1-0" width="86.690971" height="230.69623" x="419.26102" y="57.261005"
                    inkscape:label="13" />
                <path id="rect3364-79"
                    d="M 967.00002,56.691406 V 237.5957 h 48.35738 v 51.30859 h 180.9043 V 195 H 1060.9043 V 56.691406 Z"
                    inkscape:label="21" />
                <rect id="rect3364-1-2" width="93.903931" height="180.90392" x="-966.95209" y="56.73901"
                    transform="scale(-1,1)" inkscape:label="19" />
                <rect id="rect3364-7-0" width="93.903931" height="180.90392" x="-872.95209" y="56.738995"
                    transform="scale(-1,1)" inkscape:label="17" />
                <rect id="rect3364-1-0-2" width="86.690971" height="230.69623" x="-778.64301" y="56.951962"
                    transform="scale(-1,1)" inkscape:label="15" />
                <rect id="rect3364-1-7" width="93.903931" height="180.90392" x="288.95197" y="0.048069853"
                    inkscape:label="5" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-7-5" width="93.903931" height="180.90392" x="382.95197" y="0.048054595"
                    inkscape:label="3" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-1-0-9" width="86.690971" height="230.69623" x="477.26102" y="0.26102152"
                    inkscape:label="1" transform="matrix(0,1,1,0,0,0)" />
                <rect id="rect3364-1-2-2" width="93.903931" height="180.90392" x="-1024.952" y="-0.26098165"
                    transform="rotate(-90)" inkscape:label="4" />
                <path id="rect3364-79-2"
                    d="m -0.30859,1025 v 93.9043 h 135.35742 v 138.3086 h 93.90234 V 1076.3086 H 180.5957 V 1025 Z"
                    inkscape:label="6" />
                <rect id="rect3364-7-0-8" width="93.903931" height="180.90392" x="-930.95203" y="-0.26099691"
                    transform="rotate(-90)" inkscape:label="2" />
                <rect id="rect3364-1-0-2-9" width="86.690971" height="230.69623" x="-836.64294" y="-0.04803"
                    transform="rotate(-90)" inkscape:label="0" />
                <path id="rect3364-2" d="m 1015.0488,1025 v 51 h -49.99997 v 180.9043 h 93.90237 v -138 h 137 V 1025 Z"
                    inkscape:label="20" />
                <rect id="rect3364-1-06" width="93.903931" height="180.90392" x="-965" y="-1256.8558"
                    inkscape:label="18" transform="scale(-1)" />
                <rect id="rect3364-7-1" width="93.903931" height="180.90392" x="-871" y="-1256.8558" inkscape:label="16"
                    transform="scale(-1)" />
                <rect id="rect3364-1-0-5" width="86.690971" height="230.69623" x="-776.69092" y="-1256.6429"
                    inkscape:label="14" transform="scale(-1)" />
                <rect id="rect3364-1-2-4" width="93.903931" height="180.90392" x="228.99986" y="-1257.1649"
                    transform="scale(1,-1)" inkscape:label="8" />
                <rect id="rect3364-7-0-7" width="93.903931" height="180.90392" x="322.99985" y="-1257.1649"
                    transform="scale(1,-1)" inkscape:label="10" />
                <rect id="rect3364-1-0-2-6" width="86.690971" height="230.69623" x="417.30893" y="-1256.9519"
                    transform="scale(1,-1)" inkscape:label="12" />
                <rect id="rect3364-1-7-9" width="93.903931" height="180.90392" x="-1024.9519" y="-1195.9038"
                    inkscape:label="22" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-7-5-3" width="93.903931" height="180.90392" x="-930.9519" y="-1195.9038"
                    inkscape:label="24" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-1-0-9-7" width="86.690971" height="230.69623" x="-836.64288" y="-1195.6908"
                    inkscape:label="26" transform="matrix(0,-1,-1,0,0,0)" />
                <rect id="rect3364-1-2-2-5" width="93.903931" height="180.90392" x="288.95187" y="-1196.2129"
                    transform="rotate(90)" inkscape:label="23" />
                <rect id="rect3364-7-0-8-2" width="93.903931" height="180.90392" x="382.95187" y="-1196.2129"
                    transform="rotate(90)" inkscape:label="25" />
                <rect id="rect3364-1-0-2-9-5" width="86.690971" height="230.69623" x="477.26096" y="-1195.9999"
                    transform="rotate(90)" inkscape:label="27" />
            </g>
        </svg>
    </div>
    <div>
        <svg class="sontag first" version="1.1" id="svg7545" width="964" height="854" viewBox="0 0 964 854"
            sodipodi:docname="sontag1.png" inkscape:export-filename="sontag1.svg" inkscape:export-xdpi="96"
            inkscape:export-ydpi="96" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs7549" />
            <sodipodi:namedview id="namedview7547" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid7672" originx="-151" originy="-85" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g7551" transform="translate(-151,-85)">
                <rect id="rect8039" width="95" height="63" x="183" y="867" inkscape:label="101a" />
                <rect id="rect8041" width="95" height="59" x="183" y="808" inkscape:label="101b" />
                <rect id="rect8046" width="95.718376" height="59.820927" x="182.28163" y="748.17908"
                    inkscape:label="101c" />
                <rect id="rect8048" width="105" height="98" x="156" y="650" inkscape:label="101d" />
                <rect id="rect8039-4" width="95" height="63" x="183" y="-433" transform="scale(1,-1)"
                    inkscape:label="102a" />
                <rect id="rect8041-5" width="95" height="59" x="183" y="-492" transform="scale(1,-1)"
                    inkscape:label="102b" />
                <rect id="rect8046-2" width="95.718376" height="59.820927" x="182.28163" y="-551.82092"
                    transform="scale(1,-1)" inkscape:label="102c" />
                <rect id="rect8048-5" width="105" height="98" x="156" y="-650" transform="scale(1,-1)"
                    inkscape:label="102d" />
                <rect id="rect8039-4-4" width="95" height="63" x="183" y="-153" transform="scale(1,-1)"
                    inkscape:label="103a" />
                <rect id="rect8041-5-7" width="95" height="59" x="183" y="-212" transform="scale(1,-1)"
                    inkscape:label="103b" />
                <rect id="rect8046-2-4" width="95.718376" height="59.820927" x="182.28163" y="-271.82092"
                    transform="scale(1,-1)" inkscape:label="103c" />
                <rect id="rect8048-5-4" width="105" height="98" x="156" y="-370" transform="scale(1,-1)"
                    inkscape:label="103d" />
                <rect id="rect8039-4-4-3" width="95" height="63" x="-1082.2816" y="-157.17908" transform="scale(-1)"
                    inkscape:label="106a" />
                <rect id="rect8041-5-7-0" width="95" height="59" x="-1082.2816" y="-216.17908" transform="scale(-1)"
                    inkscape:label="106b" />
                <rect id="rect8046-2-4-7" width="95.718376" height="59.820927" x="-1083" y="-276" transform="scale(-1)"
                    inkscape:label="106c" />
                <rect id="rect8048-5-4-8" width="105" height="98" x="-1109.2816" y="-374.17908" transform="scale(-1)"
                    inkscape:label="106d" />
                <rect id="rect8039-4-4-3-6" width="95" height="63" x="-1083" y="-437" transform="scale(-1)"
                    inkscape:label="107a" />
                <rect id="rect8041-5-7-0-8" width="95" height="59" x="-1083" y="-496" transform="scale(-1)"
                    inkscape:label="107b" />
                <rect id="rect8046-2-4-7-8" width="95.718376" height="59.820927" x="-1083.7184" y="-555.82092"
                    transform="scale(-1)" inkscape:label="107c" />
                <rect id="rect8048-5-4-8-4" width="105" height="98" x="-1110" y="-654" transform="scale(-1)"
                    inkscape:label="107d" />
                <rect id="rect8039-4-4-3-6-3" width="95" height="63" x="-1083" y="871" transform="scale(-1,1)"
                    inkscape:label="108a" />
                <rect id="rect8041-5-7-0-8-1" width="95" height="59" x="-1083" y="812" transform="scale(-1,1)"
                    inkscape:label="108b" />
                <rect id="rect8046-2-4-7-8-4" width="95.718376" height="59.820927" x="-1083.7184" y="752.17908"
                    transform="scale(-1,1)" inkscape:label="108c" />
                <rect id="rect8048-5-4-8-4-9" width="105" height="98" x="-1110" y="654" transform="scale(-1,1)"
                    inkscape:label="108d" />
                <rect id="rect8235" width="108" height="101" x="622" y="94" inkscape:label="105d" />
                <rect id="rect8237" width="60" height="101" x="730" y="94" inkscape:label="105b" />
                <rect id="rect8239" width="62" height="101" x="790" y="94" inkscape:label="105a" />
            </g>
        </svg>
        <svg class="sontag second" version="1.1" id="svg8320" width="868.30524" height="809.3053"
            viewBox="0 0 868.30523 809.30531" sodipodi:docname="sontag2.png" inkscape:export-filename="sontag2.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs8324" />
            <sodipodi:namedview id="namedview8322" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid9166" originx="-148.84863" originy="-109.84863" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g8326"
                transform="translate(-148.84863,-109.84863)">
                <rect id="rect8039" width="85.47065" height="59.66378" x="178.14027" y="850.7019"
                    inkscape:label="201a" />
                <rect id="rect8041" width="85.47065" height="55.875603" x="178.14027" y="794.82629"
                    inkscape:label="201b" />
                <rect id="rect8046" width="86.116959" height="56.653053" x="177.49396" y="738.17322"
                    inkscape:label="201c" />
                <rect id="rect8048" width="94.46756" height="92.810318" x="153.84863" y="645.1933"
                    inkscape:label="201d" />
                <rect id="rect8039-4" width="85.47065" height="59.66378" x="178.14027" y="-439.68475"
                    transform="scale(1,-1)" inkscape:label="202a" />
                <rect id="rect8041-5" width="85.47065" height="55.875603" x="178.14027" y="-495.56036"
                    transform="scale(1,-1)" inkscape:label="202b" />
                <rect id="rect8046-2" width="86.116959" height="56.653053" x="177.49396" y="-552.21344"
                    transform="scale(1,-1)" inkscape:label="202c" />
                <rect id="rect8048-5" width="94.46756" height="92.810318" x="153.84863" y="-645.1933"
                    transform="scale(1,-1)" inkscape:label="202d" />
                <rect id="rect8039-4-4" width="85.47065" height="59.66378" x="178.14027" y="-174.51241"
                    transform="scale(1,-1)" inkscape:label="203a" />
                <rect id="rect8041-5-7" width="85.47065" height="55.875603" x="178.14027" y="-230.38799"
                    transform="scale(1,-1)" inkscape:label="203b" />
                <rect id="rect8046-2-4" width="86.116959" height="56.653053" x="177.49396" y="-287.04102"
                    transform="scale(1,-1)" inkscape:label="203c" />
                <rect id="rect8048-5-4" width="94.46756" height="92.810318" x="153.84863" y="-380.02097"
                    transform="scale(1,-1)" inkscape:label="203d" />
                <rect id="rect8039-4-4-3" width="85.47065" height="59.66378" x="-987.21582" y="-178.47015"
                    transform="scale(-1)" inkscape:label="206a" />
                <rect id="rect8041-5-7-0" width="85.47065" height="55.875603" x="-987.21582" y="-234.34576"
                    transform="scale(-1)" inkscape:label="206b" />
                <rect id="rect8046-2-4-7" width="86.116959" height="56.653053" x="-987.86218" y="-290.99881"
                    transform="scale(-1)" inkscape:label="206c" />
                <rect id="rect8048-5-4-8" width="94.46756" height="92.810318" x="-1011.5076" y="-383.97873"
                    transform="scale(-1)" inkscape:label="206d" />
                <rect id="rect8039-4-4-3-6" width="85.47065" height="59.66378" x="-987.86218" y="-443.4729"
                    transform="scale(-1)" inkscape:label="207a" />
                <rect id="rect8041-5-7-0-8" width="85.47065" height="55.875603" x="-987.86218" y="-499.34851"
                    transform="scale(-1)" inkscape:label="207b" />
                <rect id="rect8046-2-4-7-8" width="86.116959" height="56.653053" x="-988.50854" y="-556.00159"
                    transform="scale(-1)" inkscape:label="207c" />
                <rect id="rect8048-5-4-8-4" width="94.46756" height="92.810318" x="-1012.1539" y="-648.98145"
                    transform="scale(-1)" inkscape:label="207d" />
                <rect id="rect8039-4-4-3-6-3" width="85.47065" height="59.66378" x="-987.86218" y="854.49011"
                    transform="scale(-1,1)" inkscape:label="208a" />
                <rect id="rect8041-5-7-0-8-1" width="85.47065" height="55.875603" x="-987.86218" y="798.61444"
                    transform="scale(-1,1)" inkscape:label="208b" />
                <rect id="rect8046-2-4-7-8-4" width="86.116959" height="56.653053" x="-988.50854" y="741.96136"
                    transform="scale(-1,1)" inkscape:label="208c" />
                <rect id="rect8048-5-4-8-4-9" width="94.46756" height="92.810318" x="-1012.1539" y="648.98145"
                    transform="scale(-1,1)" inkscape:label="208d" />
                <rect id="rect8235" width="86.353065" height="95.815178" x="584" y="118.55494" inkscape:label="205d" />
                <rect id="rect8237" width="53.981457" height="95.651451" x="670.2713" y="118.6368"
                    inkscape:label="205b" />
                <rect id="rect8239" width="55.780838" height="95.651451" x="724.25269" y="118.6368"
                    inkscape:label="205a" />
                <rect id="rect8235-2" width="86.353065" height="95.815178" x="-584" y="118.18483" inkscape:label="204d"
                    transform="scale(-1,1)" />
                <rect id="rect8237-0" width="53.981457" height="95.651451" x="-497.72864" y="118.26671"
                    inkscape:label="204b" transform="scale(-1,1)" />
                <rect id="rect8239-6" width="55.780838" height="95.651451" x="-443.74725" y="118.26671"
                    inkscape:label="204a" transform="scale(-1,1)" />
                <rect id="rect9211" width="54" height="85" x="444" y="487" inkscape:label="209a" />
                <rect id="rect9213" width="87" height="85" x="498" y="487" inkscape:label="209d" />
                <rect id="rect9215" width="85" height="85" x="585" y="487" inkscape:label="210d" />
                <rect id="rect9217" width="55" height="85" x="670" y="487" inkscape:label="210a" />
            </g>
        </svg>
    </div>
    <div>
        <svg class="case first" version="1.1" id="svg4717" width="1089.004" height="1090.415"
            viewBox="0 0 1089.004 1090.415" sodipodi:docname="case.svg" inkscape:version="0.0"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs4721" />
            <sodipodi:namedview id="namedview4719" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true" inkscape:zoom="0.60413223" inkscape:cx="611.62107"
                inkscape:cy="619.8974" inkscape:window-width="1496" inkscape:window-height="976" inkscape:window-x="0"
                inkscape:window-y="19" inkscape:window-maximized="1" inkscape:current-layer="g4723">
                <inkscape:grid type="xygrid" id="grid5207" originx="-54.000113" originy="-54.999986" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g4723" transform="translate(-54.000107,-55)">
                <rect id="rect5209" width="80" height="136" x="328" y="60" inkscape:label="55" />
                <rect id="rect5209-4" width="80" height="136" x="408" y="60" inkscape:label="54" />
                <rect id="rect5209-4-7" width="80" height="136" x="488" y="60" inkscape:label="53" />
                <rect id="rect5209-4-7-4" width="80" height="136" x="568" y="60" inkscape:label="52" />
                <rect id="rect5209-4-7-4-4" width="80.209564" height="109.20956" x="647.79456" y="86.995872"
                    inkscape:label="51" />
                <rect id="rect5209-4-7-4-4-3" width="80.209564" height="109.20956" x="728" y="87" inkscape:label="50" />
                <rect id="rect5209-4-7-4-4-0" width="80.209564" height="109.20956" x="808" y="86.790443"
                    inkscape:label="49" />
                <rect id="rect5209-6" width="80" height="136" x="790.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="40" />
                <rect id="rect5209-4-4" width="80" height="136" x="710.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="41" />
                <rect id="rect5209-4-7-9" width="80" height="136" x="630.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="42" />
                <rect id="rect5209-4-7-4-5" width="80" height="136" x="550.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="43" />
                <rect id="rect5209-4-7-4-4-04" width="80.209564" height="109.20956" x="470.41086" y="1001.7986"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="44" />
                <rect id="rect5209-4-7-4-4-3-8" width="80.209564" height="109.20956" x="390.20541" y="1001.7946"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="45" />
                <rect id="rect5209-4-7-4-4-0-7" width="80.209564" height="109.20956" x="310.20541" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="46" />
                <rect id="rect5209-4-7-4-4-3-7-1" width="80.209564" height="109.20956" x="229.99995" y="1002"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="47" />
                <rect id="rect5209-4-7-4-4-3-7" width="80.209564" height="109.20956" x="888.20544" y="86.794571"
                    inkscape:label="48" />
                <rect id="rect5209-2" width="80" height="136" x="-869.00415" y="-1140.415" inkscape:label="25"
                    transform="scale(-1)" />
                <rect id="rect5209-4-72" width="80" height="136" x="-789.00415" y="-1140.415" inkscape:label="24"
                    transform="scale(-1)" />
                <rect id="rect5209-4-7-2" width="80" height="136" x="-709.00415" y="-1140.415" inkscape:label="23"
                    transform="scale(-1)" />
                <rect id="rect5209-4-7-4-6" width="80" height="136" x="-629.00415" y="-1140.415" inkscape:label="22"
                    transform="scale(-1)" />
                <rect id="rect5209-4-7-4-4-1" width="80.209564" height="109.20956" x="-549.20959" y="-1113.4191"
                    inkscape:label="21" transform="scale(-1)" />
                <rect id="rect5209-4-7-4-4-3-0" width="80.209564" height="109.20956" x="-469.00415" y="-1113.415"
                    inkscape:label="20" transform="scale(-1)" />
                <rect id="rect5209-4-7-4-4-0-6" width="80.209564" height="109.20956" x="-389.00415" y="-1113.6245"
                    inkscape:label="19" transform="scale(-1)" />
                <rect id="rect5209-6-1" width="80" height="136" x="-410.00003" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="01" />
                <rect id="rect5209-4-4-5" width="80" height="136" x="-490.00003" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="02" />
                <rect id="rect5209-4-7-9-9" width="80" height="136" x="-570" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="03" />
                <rect id="rect5209-4-7-4-5-4" width="80" height="136" x="-650" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="04" />
                <rect id="rect5209-4-7-4-4-04-9" width="80.209564" height="109.20956" x="-730.00415" y="-195.20561"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="05" />
                <rect id="rect5209-4-7-4-4-3-8-0" width="80.209564" height="109.20956" x="-810.20959" y="-195.20958"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="06" />
                <rect id="rect5209-4-7-4-4-0-7-9" width="80.209564" height="109.20956" x="-890.20959" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="07" />
                <rect id="rect5209-4-7-4-4-3-7-1-1" width="80.209564" height="109.20956" x="-970.41504" y="-195.0042"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="08" />
                <rect id="rect5209-4-7-4-4-3-7-7" width="80.209564" height="109.20956" x="-308.79871" y="-1113.6204"
                    inkscape:label="18" transform="scale(-1)" />
                <rect id="rect5693" width="121" height="211" x="253" y="548" inkscape:label="QD" />
                <rect id="rect5693-7" width="124.29687" height="147.29686" x="806.00946" y="494.00949"
                    inkscape:label="QB" />
            </g>
        </svg>
        <svg class="case second" version="1.1" id="svg4717" width="1089.004" height="1090.415"
            viewBox="0 0 1089.004 1090.415" sodipodi:docname="case.svg" inkscape:version="0.0"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs4721" />
            <sodipodi:namedview id="namedview4719" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true" inkscape:zoom="0.60413223" inkscape:cx="611.62107"
                inkscape:cy="619.8974" inkscape:window-width="1496" inkscape:window-height="976" inkscape:window-x="0"
                inkscape:window-y="19" inkscape:window-maximized="1" inkscape:current-layer="g4723">
                <inkscape:grid type="xygrid" id="grid5207" originx="-54.000113" originy="-54.999986" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g4723" transform="translate(-54.000107,-55)">
                <rect id="rect5209" width="80" height="136" x="328" y="60" inkscape:label="55" />
                <rect id="rect5209-4" width="80" height="136" x="408" y="60" inkscape:label="54" />
                <rect id="rect5209-4-7" width="80" height="136" x="488" y="60" inkscape:label="53" />
                <rect id="rect5209-4-7-4" width="80" height="136" x="568" y="60" inkscape:label="52" />
                <rect id="rect5209-4-7-4-4" width="80.209564" height="109.20956" x="647.79456" y="86.995872"
                    inkscape:label="51" />
                <rect id="rect5209-4-7-4-4-3" width="80.209564" height="109.20956" x="728" y="87" inkscape:label="50" />
                <rect id="rect5209-4-7-4-4-0" width="80.209564" height="109.20956" x="808" y="86.790443"
                    inkscape:label="49" />
                <rect id="rect5209-6" width="80" height="136" x="790.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="40" />
                <rect id="rect5209-4-4" width="80" height="136" x="710.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="41" />
                <rect id="rect5209-4-7-9" width="80" height="136" x="630.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="42" />
                <rect id="rect5209-4-7-4-5" width="80" height="136" x="550.41498" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="43" />
                <rect id="rect5209-4-7-4-4-04" width="80.209564" height="109.20956" x="470.41086" y="1001.7986"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="44" />
                <rect id="rect5209-4-7-4-4-3-8" width="80.209564" height="109.20956" x="390.20541" y="1001.7946"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="45" />
                <rect id="rect5209-4-7-4-4-0-7" width="80.209564" height="109.20956" x="310.20541" y="1002.0041"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="46" />
                <rect id="rect5209-4-7-4-4-3-7-1" width="80.209564" height="109.20956" x="229.99995" y="1002"
                    transform="matrix(0,1,1,0,0,0)" inkscape:label="47" />
                <rect id="rect5209-4-7-4-4-3-7" width="80.209564" height="109.20956" x="888.20544" y="86.794571"
                    inkscape:label="48" />
                <rect id="rect5209-2" width="80" height="136" x="-869.00415" y="-1140.415" inkscape:label="25"
                    transform="scale(-1)" />
                <rect id="rect5209-4-72" width="80" height="136" x="-789.00415" y="-1140.415" inkscape:label="24"
                    transform="scale(-1)" />
                <rect id="rect5209-4-7-2" width="80" height="136" x="-709.00415" y="-1140.415" inkscape:label="23"
                    transform="scale(-1)" />
                <rect id="rect5209-4-7-4-6" width="80" height="136" x="-629.00415" y="-1140.415" inkscape:label="22"
                    transform="scale(-1)" />
                <rect id="rect5209-4-7-4-4-1" width="80.209564" height="109.20956" x="-549.20959" y="-1113.4191"
                    inkscape:label="21" transform="scale(-1)" />
                <rect id="rect5209-4-7-4-4-3-0" width="80.209564" height="109.20956" x="-469.00415" y="-1113.415"
                    inkscape:label="20" transform="scale(-1)" />
                <rect id="rect5209-4-7-4-4-0-6" width="80.209564" height="109.20956" x="-389.00415" y="-1113.6245"
                    inkscape:label="19" transform="scale(-1)" />
                <rect id="rect5209-6-1" width="80" height="136" x="-410.00003" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="01" />
                <rect id="rect5209-4-4-5" width="80" height="136" x="-490.00003" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="02" />
                <rect id="rect5209-4-7-9-9" width="80" height="136" x="-570" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="03" />
                <rect id="rect5209-4-7-4-5-4" width="80" height="136" x="-650" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="04" />
                <rect id="rect5209-4-7-4-4-04-9" width="80.209564" height="109.20956" x="-730.00415" y="-195.20561"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="05" />
                <rect id="rect5209-4-7-4-4-3-8-0" width="80.209564" height="109.20956" x="-810.20959" y="-195.20958"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="06" />
                <rect id="rect5209-4-7-4-4-0-7-9" width="80.209564" height="109.20956" x="-890.20959" y="-195.00011"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="07" />
                <rect id="rect5209-4-7-4-4-3-7-1-1" width="80.209564" height="109.20956" x="-970.41504" y="-195.0042"
                    transform="matrix(0,-1,-1,0,0,0)" inkscape:label="08" />
                <rect id="rect5209-4-7-4-4-3-7-7" width="80.209564" height="109.20956" x="-308.79871" y="-1113.6204"
                    inkscape:label="18" transform="scale(-1)" />
                <rect id="rect5693" width="121" height="211" x="253" y="548" inkscape:label="QD" />
                <rect id="rect5693-7" width="124.29687" height="147.29686" x="806.00946" y="494.00949"
                    inkscape:label="QB" />
            </g>
        </svg>
    </div>
    <div>

    </div>
    <div>
        <svg class="linde first" version="1.1" id="svg10342" width="942" height="1072" viewBox="0 0 942 1072"
            sodipodi:docname="linde1.png" inkscape:export-filename="linde1.svg" inkscape:export-xdpi="96"
            inkscape:export-ydpi="96" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs10346" />
            <sodipodi:namedview id="namedview10344" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid10834" originx="-52" originy="-51" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g10348" transform="translate(-52,-51)">
                <rect id="rect10469" width="91" height="86" x="57" y="205" inkscape:label="101" />
                <rect id="rect10836" width="91" height="90" x="57" y="115" inkscape:label="102" />
                <rect id="rect10841" width="110" height="117" x="148" y="56" inkscape:label="103" />
                <rect id="rect10843" width="109" height="117" x="258" y="56" inkscape:label="105" />
                <rect id="rect10845" width="113" height="117" x="367" y="56" inkscape:label="107" />
                <rect id="rect10847" width="110" height="117" x="480" y="56" inkscape:label="110" />
                <rect id="rect10849" width="89" height="177" x="590" y="114" inkscape:label="111" />
                <rect id="rect10851" width="110" height="117" x="679" y="56" inkscape:label="112" />
                <rect id="rect10853" width="109" height="117" x="789" y="56" inkscape:label="113" />
                <rect id="rect10855" width="91" height="96" x="898" y="115" inkscape:label="115" />
                <rect id="rect10857" width="91" height="80" x="898" y="211" inkscape:label="117" />
                <rect id="rect10859" width="108" height="74" x="878" y="882" inkscape:label="129" />
                <rect id="rect10861" width="73" height="88" x="913" y="956" inkscape:label="130" />
                <path d="m 880,1024 v 94 h 106 v -74 h -73 v -20 z" id="path11034" sodipodi:nodetypes="ccccccc"
                    inkscape:label="131" />
                <rect id="rect11132" width="68" height="94" x="812" y="1024" inkscape:label="132" />
                <rect id="rect11139" width="135" height="94" x="677" y="1024" inkscape:label="135" />
                <rect id="rect11141" width="88" height="177" x="589" y="882" inkscape:label="136" />
                <rect id="rect11143" width="109" height="118" x="479" y="1000" inkscape:label="138" />
                <rect id="rect11145" width="110" height="118" x="369" y="1000" inkscape:label="140" />
                <rect id="rect11147" width="112" height="118" x="257" y="1000" inkscape:label="141" />
                <rect id="rect11149" width="112" height="118" x="145" y="1000" inkscape:label="144" />
                <rect id="rect11151" width="88" height="85" x="59" y="882" inkscape:label="146" />
                <rect id="rect11229" width="86" height="92" x="59" y="967" inkscape:label="145" />
            </g>
        </svg>
        <svg class="linde second" version="1.1" id="svg11490" width="989.90063" height="1126.9504"
            viewBox="0 0 989.90063 1126.9504" sodipodi:docname="linde2.png" inkscape:export-filename="linde2.svg"
            inkscape:export-xdpi="96" inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs11494" />
            <sodipodi:namedview id="namedview11492" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
                inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1" showgrid="true">
                <inkscape:grid type="xygrid" id="grid11749" originx="-97.04969" originy="-54.049688" />
            </sodipodi:namedview>
            <g inkscape:groupmode="layer" inkscape:label="Image" id="g11496" transform="translate(-97.04969,-54.04969)">
                <rect id="rect10469" width="95.676994" height="90.449844" x="102.04969" y="215.75931"
                    inkscape:label="201" />
                <rect id="rect10836" width="95.676994" height="94.656815" x="102.04969" y="121.1025"
                    inkscape:label="202" />
                <rect id="rect10841" width="115.6535" height="123.05387" x="197.72672" y="59.04969"
                    inkscape:label="203" />
                <rect id="rect10843" width="114.60211" height="123.05387" x="313.38022" y="59.04969"
                    inkscape:label="204" />
                <rect id="rect10845" width="118.80769" height="123.05387" x="427.98233" y="59.04969"
                    inkscape:label="207" />
                <rect id="rect10847" width="115.6535" height="123.05387" x="546.78998" y="59.04969"
                    inkscape:label="208" />
                <rect id="rect10849" width="93.574203" height="186.15842" x="662.44348" y="120.05074"
                    inkscape:label="211" />
                <rect id="rect10851" width="115.6535" height="123.05387" x="756.0177" y="59.04969"
                    inkscape:label="212" />
                <rect id="rect10853" width="114.60211" height="123.05387" x="871.6712" y="59.04969"
                    inkscape:label="213" />
                <rect id="rect10855" width="95.676994" height="100.96727" x="986.27332" y="121.1025"
                    inkscape:label="216" />
                <rect id="rect10857" width="95.676994" height="84.139397" x="986.27332" y="222.06976"
                    inkscape:label="217" />
                <rect id="rect10859" width="113.55071" height="77.828934" x="965.24542" y="927.78894"
                    inkscape:label="230" />
                <rect id="rect10861" width="76.751869" height="92.553337" x="1002.0443" y="1005.6179"
                    inkscape:label="231" />
                <path d="m 967.34821,1077.1363 v 98.8638 h 111.44789 v -77.829 h -76.7518 v -21.0348 z" id="path11034"
                    sodipodi:nodetypes="ccccccc" inkscape:label="232" />
                <rect id="rect11132" width="71.494896" height="98.863785" x="895.85333" y="1077.1364"
                    inkscape:label="233" />
                <rect id="rect11139" width="141.9384" height="98.863785" x="753.91492" y="1077.1364"
                    inkscape:label="236" />
                <rect id="rect11141" width="92.522804" height="186.15842" x="661.39209" y="927.78894"
                    inkscape:label="237" />
                <rect id="rect11143" width="114.60211" height="124.10561" x="545.73859" y="1051.8944"
                    inkscape:label="239" />
                <rect id="rect11145" width="115.6535" height="124.10561" x="430.08511" y="1051.8944"
                    inkscape:label="240" />
                <rect id="rect11147" width="117.75629" height="124.10561" x="312.32883" y="1051.8944"
                    inkscape:label="243" />
                <rect id="rect11149" width="117.75629" height="124.10561" x="194.57253" y="1051.8944"
                    inkscape:label="244" />
                <rect id="rect11151" width="92.522804" height="89.398109" x="104.15248" y="927.78894"
                    inkscape:label="247" />
                <rect id="rect11229" width="90.420013" height="96.760307" x="104.15248" y="1017.187"
                    inkscape:label="246" />
                <rect id="rect12114" width="115" height="131" x="964" y="356" inkscape:label="219" />
                <rect id="rect12116" width="115" height="131" x="964" y="487" inkscape:label="222" />
                <rect id="rect12118" width="115" height="132" x="964" y="618" inkscape:label="227" />
                <rect id="rect12120" width="115" height="131" x="964" y="750" inkscape:label="229" />
            </g>
        </svg>
    </div>
</body>
<script src="javascripts/listeners.js"></script>

</html>