svg rect, svg path {
    fill: #1a1a1a;
    fill-opacity: 0;
    stroke: #000000;
    stroke-width: 4.09609;
    stroke-dasharray: none
}

svg rect:hover, svg path:hover {
    stroke-width: 10px;
}

svg path:hover {
    stroke-width: 10px;
}

svg .selected {
    fill-opacity: 1;
    fill: green;
}